{% extends 'base.html' %}

{% block content %}
<form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Items" aria-label="Search" name='q'>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<div class="row">
{% for item in fav_items %}
<div class="col-sm-4 py-2">
        <div class="card h-100">
            <img class="card-img-top" height="55%" src="{{item.item.image.url}}" alt="Card image cap">
            <div class="card-body bg-light">
                <h3 class="card-title">{{item.item.name}}</h3>
                <a href="{% url 'item-detail' item.item.id %}" class="btn btn-outline-dark">More</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>

<script>
    function fav(id) {
        var star_id = "#fav-"+id;
        $.ajax(
        {
            type: "GET",
            url: "/items/"+id+"/favorite/",
            error: function(){
                alert("ERROR ERROR !!");
            },
            success: function(data){
                if (data.action === "favorite"){
                    $(star_id).addClass("text-warning");
                    }
                else {
                    $(star_id).removeClass("text-warning");
                    }
            },
        }
            )
    }
</script>
{% endblock%}